#top {
  text-align: center;
}

.name {
  width: 30em;
  box-sizing: border-box;
  border: 2px solid #F4A633;
  border-radius: 4px;
  font-size: 16px;
  background-color: black;
  background-image: url("../img/username.png");
  background-position: left center; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

::placeholder {
  color: white;
}

.password {
  width: 30em;
  box-sizing: border-box;
  border: 2px solid #F4A633;
  border-radius: 4px;
  font-size: 16px;
  background-color: black;
  background-image: url("../img/password.png");
  background-position: left center; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  font-family: 'Roboto', sans-serif;
}

.address {
  width: 30em;
  box-sizing: border-box;
  border: 2px solid #F4A633;
  border-radius: 4px;
  font-size: 16px;
  background-color: black;
  background-image: url("../img/address.png");
  background-position: left center; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  font-family: 'Roboto', sans-serif;
}

.email {
  width: 30em;
  box-sizing: border-box;
  border: 2px solid #F4A633;
  border-radius: 4px;
  font-size: 16px;
  background-color: black;
  background-image: url("../img/email.png");
  background-position: left center; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  font-family: 'Roboto', sans-serif;
}

.mobilenumber {
  width: 30em;
  box-sizing: border-box;
  border: 2px solid #F4A633;
  border-radius: 4px;
  font-size: 16px;
  background-color: black;
  background-image: url("../img/number.png");
  background-position: left center; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Exo', sans-serif;;
}


/* The container */
.radiocontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-left: 1em;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  font-family: 'Roboto', sans-serif;
}

/* Hide the browser's default radio button */
.radiocontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiocontainer .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.otherinput {
  width: 20em;
  box-sizing: border-box;
  border: 2px solid #F4A633;
  background-image: url("../img/gender.png");
  border-radius: 4px;
  font-size: 16px;
  background-color: black;
  background-position: left; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 0em;
  margin-right: 12em;
  font-family: 'Roboto', sans-serif;
}

.g-recaptcha {
  margin-left: 7em;
  margin-top: 3em;
}

input[type="submit"] {
  background: #4786FF;
  width: 200px; /* width of image */
  height: 50px; /* height of image */
  border: 0;
  border-radius: 0.5em;
  margin-right: 0.5em;
  font-family: 'Roboto', sans-serif;
}

.showpassword {
  background-image: url(../img/visibility.png);
}

#gender {
  font-size: 2em;
}

