.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #img1 {
    background-image: url('../img/header.jpg')!important;
  }
  #img2 {
    background-image: url('https://images.pexels.com/photos/301692/pexels-photo-301692.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')!important;
  }
  #img3 {
    background-image: url('https://www.xda-developers.com/files/2018/11/discord-logo.jpg')!important;
  }
  html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    cursor: url("https://cdn.discordapp.com/attachments/607251188152401989/669401109751660554/DNnNuawUMAAU4vq.png"), auto;

}

.contact {
  vertical-align: middle;
  width: 2.625em;
  align-self: center;
  text-align: center;
  
}
.logo {
  width: 4em;
  height: 4em;
}
#profilepic {
  width: 4em;
  height: 4em;
}
.navbartext {
  color: white;
  margin-left: 2em;
}
.navbar-dark  {
  background-color:  #000000;
  
}
.navbar {
  width: 98.9%;
}
/* Navbar */

.display-4 {
  margin-bottom: 3.4em;
}
.lead {
  margin-bottom: 2.2em;
  font-size: 2em;
}
.carousel-indicators {
  margin-bottom: 5em;
}

