.question {
    text-align: center!important;
    
}
.submitbutton {
    margin-left: 17em;
    margin-right: 2em;
    max-width: 100%;
}
.submitbutton2 {
    margin-right: 17em;
    margin-left: 2em;
    max-width: 100%;
}