html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #222222;

}
.logo {
    width: 4em;
    height: 4em;
  }
  #profilepic {
    width: 4em;
    height: 4em;
  }
  .navbartext {
    color: white;
    margin-left: 2em;
  }
  .navbar-dark  {
    background-color:  #000000;
    
  }
  .navbar {
    width: 100%;
  }
  header {
    padding: .4rem 0;
    border-bottom: 1px solid #e9e9e9;
    box-shadow: 0px 0px 6px rgba(0,0,0,.05);
}

.chart {
    position: relative;
    text-align: center;
}

.chart canvas {
    display: block;
    margin: 0px auto;
}

.chart span {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 50%;
    margin-top: -12px;
    color: #999;
}
.mt-0 {
  padding-top: 2em;
}
.white {
  color: white!important;
}
.orange {
  color: #F4A633!important;
}
.review {
  border-bottom: 1.5px solid white;
  width: 100%;
}
.smol {
  border: 1.5px solid white;
  color: white;
  margin-top: 5em;
}
.inputbox {
  margin-top: 1em;
}
.label {
  margin-top: 1em;
  color: white;
}
.left {
  height: 10em;
}
.form-group>label {
 color: white!important;
}

.restname {
    color: white;
    text-align: left;
    margin-top: 1em;
    margin-left: 1em;
}
html,body
{
    cursor: url("https://cdn.discordapp.com/attachments/607251188152401989/669401109751660554/DNnNuawUMAAU4vq.png"), auto;

}
.profilepic {
    width: 4em;
    height: 4em;
    border-radius: 50%!important;
    margin-top: 1em;
}
.username {
    color: white;
    margin-top: 0em;
    margin-left: 0em;
    font-size: 1.5em;
}
.test {
    border-bottom: 1px solid white!important;
    
}

p {
    color: white;
    margin-top: 1.5em;
    text-align: justify;
}

.addreview {
    height: 20em;
    width: 46em;
}

.submitbutton {
    /* margin-top: 0.4em;
    margin-left: 4em; */
    text-align: center;
}

.rating {
    margin-top: 1em;
}

.fade.in {
  opacity: 1 !important;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}
.modal-backdrop.in {
  opacity: 0.5 !important;
}
.center {
  text-align: center;
  }

.smolreviewimg {
  width: 16em;
  height: 9em;
  }